<!-- <%= form_with scope: :@link, local: true, url: @link , method: :post do  |form|%>


<p>
  <%= form.label :url %>
  <%= form.text_field :url, :placeholder => "Paste your url" %>
</p>

<%= form.submit "Shorten" %>

<% end %> -->

<%= form_with(model: @link, local:true) do |form|  %>

<% if @link.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

  <ul>
  <% @link.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="input-group">
  <%= form.label :url , :class=>"label" %><br>

  <%= form.text_field :url, :placeholder => "Paste your url", :class => "form-control" , :id => "basic-url" %>
</div>

<div class="input-group">
  <%= form.submit "Shorten", :class=> "btn btn-success" %>
</div>


<%end %>