

<%= form_with(model: @link, local:true) do |form|  %>

<% if @link.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

  <ul>
  <% @link.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">
  <%= form.label :url , :class=>"text-uppercase text-white font-weight-bold" %>

  <%= form.text_field :url, :placeholder => "Paste your url", :class => "form-control" , :id => "basic-url" %>

</div>

<div class="input-group">
  <%= form.submit "Shorten", :class=> "btn btn-primary btn-xl js-scroll-trigger" %>
</div>

<%end %>